.Title {
    text-align: center;
}

.global-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.under-section1,
.under-section2 {
    width: 45%;
}

.under-section1 {
    padding-top: 15px;
}

img {
    width: auto;
    height: auto;
    width: 100%;
}